@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap");
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-kiwi{
  font-family: "Kiwi Maru", serif;
}

:root{
   --color-base: #f4e7d7;
   --color-accent: #cb8967;
   --color-text: #1c1c1a;
}
/* ハンバーガーメニュー */
.btn-trigger {
  position: relative;
  width: 30px;
  height: 24px;
}

.btn-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #cb8967;
  border-radius: 2px;
  transition: all 0.4s;
}

.btn-trigger span:nth-of-type(1) {
  top: 0;
}
.btn-trigger span:nth-of-type(2) {
  top: 10px;
}
.btn-trigger span:nth-of-type(3) {
  bottom: 0;
}

/* active 時の動き（あなた指定のもの） */
#btn06.active span:nth-of-type(1) {
  transform: translateY(10px) rotate(-45deg);
}
#btn06.active span:nth-of-type(2) {
  opacity: 0;
}
#btn06.active span:nth-of-type(3) {
  transform: translateY(-10px) rotate(45deg);
}
